:root {
    --color: #29ca8e;
    --color-brown: #252020;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}

.to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #29ca8e;
    display: flex;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    z-index: 2;
}
.to-top .anchor {
    color: white;
}
p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #575757;
}
a:link, a:visited {
    text-decoration: none;
    color: #575757;
    display: block;
    height: 50px;
    width: 100%;
}
header .wrap-header {
    display: flex;
    flex-direction: column;
    border-top: 5px solid #29ca8e;
}

.wrap-header .logo {
    height: 60px;
    display: flex;
}

.logo .known {
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #252020;
    height: 60px;
    line-height: 60px;
    width: 500px;
    flex: 5;
}
.logo .drop-down-menu {
   flex: 1;
   text-align: center;
   line-height: 60px;
   font-size: 1.5em;
}
.logo a:hover {
    color: #29ca8e;
    transition: 1s;
}
.nav {
    display: none;
    /*display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;*/
    
}
.nav .nav-element {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.nav .nav-element:hover {
    background-color:#29ca8e;
    transition: 1s;
}
.nav-element a:hover {
    color: white;
    transition: 1s;
}
/*ZA SKRIVANJE FUNKCIJA*/
@media screen and (max-width: 768px) { /*OGRANICITI NA ODREDJENI MEDIA QUERI!!!!!!!!!!*/
    .prikazan-nav {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: absolute;
        height: auto;
        z-index: 100;
        background-color: white;
        top: 60px;
        /*display: none;*/
        animation: proba .5s linear;
        height: 0px;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}
@keyframes proba {
    100% {
        height: 300px;
        opacity: 1;
    }
}

/* SLIDER */
.slider-holder {
    overflow: hidden;
    position: relative;
    margin: 0px;
    max-height: 500px;
    z-index: 6;
}
.slider-holder .dugme-desno{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 50px;
    color: wheat;
    font-size: 1.5em;
    z-index: 7;
    background-color: black;
}
.slider-holder .dugme-levo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 50px;
    color: wheat;
    font-size: 1.5em;
    z-index: 7;
    background-color: black;
}
.picture-text{
    position: relative;
    width: 400%;
    margin: 0px;
    left: 0px;
    /*animation: 20s slide infinite;*/
}

.background-picture {
    width: 25%;
    float: left;
    filter: brightness(65%);
}
/*@keyframes slide {
    0% {left: 0px;}
    20% {left: 0px;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: initial}
}*/

.text-slider, .active{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    margin: auto;
    padding: 20px;
    padding-right: 0px;
    padding-left: 80px;
    top: 15vw;
    width: 70vw;
    z-index: 1;
}
.text-slider h3 {
    color: #f0f0f0;
    margin-top: 0px;
    width: 100%;
    font-size: 1.2em;
}
.text-slider p {
    text-align: left;
    color: #f0f0f0;
    width: 100%;
    font-size: 1.0em;
}
.text-slider a {
    justify-content: flex-start;
    height: 7vw;
    max-width: 18vw;
    border-radius: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    text-align: center;
    margin-top: 5vw;
    font-size: 0.8em;
}
.text-slider a:hover {
    color: white;
    background-color: #29ca8e;
    border: 1px solid #29ca8e;
    transition: 1s;
}


/* #slider-slike {
    position:relative;
    height: auto;
    width: 100%;
    margin:0 auto;
}

#slider-slike img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
}

#slider-slike img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 6s;
}

#slider-slike img.middle {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 4s;
}

#slider-slike img.bottom {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 2s;
}

@keyframes cf3FadeInOut {
    0% {
      opacity:1;
    }
    35% {
    opacity:1;
    }
    75% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
    } */


/* SLIDER SLIKA */

img {
    width: 100%;
    height: auto;
    align-content: center;
}

/* TEXT PREKO SLIKE */

.slider-text{
    position: absolute;
    padding: 20px;
    bottom: 10px;
}

/* DUGME ISPOD SLIKE */

.big-button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    height: 60px;
    width: 160px;
    margin-top: 30px;
    display: inline-block;
    text-align: center ;
    line-height: 58px;
}

.btn-white-animated {
  animation: moveInBottom 0.9s ease-out .75s;
  animation-fill-mode: backwards;
}

.btn-white:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.226);
  background-color: var(--color);
}

.btn-white:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.226);
}
  
.btn-white:focus {
    outline: none;
}

.slider-paragraf {
    padding-top: 10px;
}

/* OFFERS CONTAINER */

.top-offers {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 45px;
}

/* OFFERS PROZOR */

.offers-window {
    background-color: white;
    height: 350px;
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

/* BROJ U PROZORU */

.offer-number {
    background-color: #3f51b5;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

/* HEADER U PROZORU */

.offer-heading {
    margin-bottom: 20px;
}

/* SIGNUP CONTAINER */

.signup-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* HEADER U SIGNUPU */

.signup-header {
    margin-top: 100px;
}

.signup-items {
    margin-bottom: 50px;
}

.signup-window {
    margin-top: 50px;
    padding-left: 20px;
}

/* SIGNUP SLICICA */

.signup-image {
    font-size: 30px;
    background-color: #29ca8e;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    float: left;
    margin: 20px;
}

.signup-image {
    line-height: 50px !important;
}

/* SIGNUP FORMA */

.signup-form {
    background-color: #252020;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 20px;
}  

.signup-form form {
    width: 80%;
}

.signup-form form input[type=text], input[type=password], input[type=email] {
    width: 100%;
}

.signup-form-submit {
    width: auto;
}

/* HEADER FORME */

.form-heading {
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* INPUT U FORMI */

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 80%;
    color: white;
    padding-left: 10px;
    height: 45px;
    font-size: 16px;
}

/* SUBMIT DUGME */

.signup-form-submit {
    padding: 0 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 23px;
    width: auto;
    margin-top: 30px;
    line-height: 40px;
}

.signup-form-submit:hover {
    cursor: pointer;
    color: white;
    background-color: transparent;
}

/* TEXTAREA */

textarea {
    padding: 5px;
    font-size: 17px;
}

/* TEACHERS CONTAINER */

.teachers-container {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* TEACHER PROZOR */

.teacher {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

/* SLIKA U PROZORU */

.teachers-image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.teachers-image img {
    width: 100%;
}

/* TEXT U PROZORU */

.teachers-text {
    padding: 20px;
    background-color: white;
}

/* SOCIAL IKONICE */

.teachers-icons {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 50px;
    border-top: 5px solid #f9f9f9;
    background-color: white;
    padding: 10px;
    justify-content: space-evenly;
}

.teacher-icon i{
    color: black;
    width: 35px;
    height: 35px;
    text-align: center;
}

.teacher-icon i:hover {
    color: white;
    background-color: #29ca8e;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
}

/* COURSES CONTAINER */
.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* HEADER */

.courses-header {
    text-align: center;
    margin-bottom: 50px;
}

/* SLIKA */

.courses-image {
    position: relative;
    background-color: #f9f9f9;
    width: 90%;
}

.courses-image img{
    width: 100%;
}

/* DATUM I VREME */

.courses-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    bottom: 10%;
    padding: 10px;
}

.courses-input h2 {
    padding: 0 15px 0 5px;

}

.courses-input i {
    font-size: 23px;
}

/* TEXT ISPOD SLIKE */

.courses-text {
    padding: 20px;
    background-color: #f9f9f9;
    width: 90%;
}

.courses-text p {
    line-height: 1.6em;
}

.courses-text h2 {
    margin-bottom: 10px;
}

/* AVATAR CONTAINER */

.courses-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    border-top: 1px solid lightgray;
    padding: 20px;
    width: 90%;
    font-weight: bold;
}

/* SLICICA */

.courses-avatar img {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

/* FREE BUTTON */

.avatar-input {
    margin: 0;
    height: 35px;
    width: auto;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    padding: 0 50px;

}

.avatar-input:hover {
    cursor: pointer;
}

/* COURSES NAVIGACIJA-SLIDER */

.courses-slider {
    width: 100%;
    text-align: center;
    padding: 50px 100px 50px 100px;
    font-size: 30px;
    color: grey;
}

/*ALL ABOUT STUDENT REVIEWS*/
.reviews-container {
    background-color: #f9f9f9;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-container h3 {
    margin-bottom: 0px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 60px;
}
.reviews-container p {
    margin-bottom: 30px;
    text-align: center;
}
.one-student {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: white;
    margin: 15px;
}
/*Just student with his picture, name and ocupation*/
.one-student .picture-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 80px;
}
.picture-text .picture-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-self: stretch;
    flex: 1;
}
.picture-text h4{
    margin-bottom: 0px;
    margin-left: 15px;
    flex: 1;
}
.picture-text .review-small-font {
    font-size: 12px;
    margin-left: 15px;
    width: 100px;
    flex: 1;
}
/*here starts rest of the flex*/
.one-student .student-comment {
    margin-top: 15px;
    text-align: start;
}
.one-student .stars {
    margin-top: 15px;
    color: #3f51b5;
}

/* HEADER */

.courses-header {
    text-align: center;
    margin-bottom: 50px;
}

/* SLIKA */

.courses-image {
    position: relative;
    background-color: #f9f9f9;
    width: 90%;
}

.courses-image img{
    width: 100%;
}

/* DATUM I VREME */

.courses-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    color: white;
    bottom: 10%;
    padding: 10px;
}

.courses-input h2 {
    padding: 0 15px 0 5px;

}

.courses-input i {
    font-size: 23px;
}

/* TEXT ISPOD SLIKE */

.courses-text {
    padding: 20px;
    background-color: #f9f9f9;
    width: 90%;
}

.courses-text p {
    line-height: 1.6em;
}

.courses-text h2 {
    margin-bottom: 10px;
}

/* AVATAR CONTAINER */

.courses-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    border-top: 1px solid lightgray;
    padding: 20px;
    width: 90%;
    font-weight: bold;
}

/* SLICICA */

.courses-avatar img {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

/* FREE BUTTON */

.avatar-input {
    margin: 0;
    height: 35px;
    width: auto;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    padding: 0 50px;

}

.avatar-input:hover {
    cursor: pointer;
}

/* COURSES NAVIGACIJA-SLIDER */

.courses-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: grey;
}
.courses-slider > .strelica-levo, .strelica-desno{
    flex: 1;
    width: 50px;
}



/* STUDENT CONTAINER */

.student-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}

.student-window-h {
    display: none;
}
.student-dots {
    position: relative;
}
.bez-style{
    display: none;
}
.dot {
    text-align: center;
    width: 15px !important;
    height: 15px !important;
    margin-right: 20px;
}
.style {
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100px !important;
    height: 100px;
    background-color: black;
    bottom: 100px;
    border: 2px solid green;
    }

.student-header {
    text-align: center;
    margin: 40px;
}

.student-avatar {
    display: flex;
    padding: 20px;
    background-color: white;
}

.student-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.avatar-text {
    margin-left: 20px;
}

.avatar-text p {
    color: grey;
}

.student-paragraf {
    padding: 0 0 20px 20px;
    color: grey;
    background-color: white;
}

.student-paragraf p {
    margin-right: 70px;
}

.student-stars {
    padding-left: 20px;
    padding-bottom: 50px;
    background-color: white;
    color: #3f51b5;
}

.student-dots {
    display: flex;
    flex-direction: row;
    padding: 50px 100px 50px 100px;
    justify-content: center;
    font-size: 30px;
    color: grey;
}

/* CONTACT CONTAINER */

.contact-container {
    display: flex;
    flex-direction: column;
    background-color: #3f51b5;
    color: white;
    padding: 20px;
}

.contact-text {
    padding-bottom: 30px;
    padding-top: 40px;
}

/* NAME I EMAIL */

.contact-form input[name],input[email] {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
}

/* TEKST */

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* SUBMIT DUGME */

.contact-form-submit {
    color: grey;
    height: 45px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.contact-form-submit:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}


/* SLIKA */

.contact-image {
    padding-bottom: 50px;
    margin-top: 20px;
}

.student-dots .smanjenje-dugmeta{
    font-size: 10px;
}

/*.student-dots .smanjenje-dugmeta:hover{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    left: 0px;
}*/

.contact-image img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
    background-color: #252020;
}

.footer-icon {
    color: #29ca8e;
}

.footer-icon i:hover {
    color: lightgrey;
}

.contact-email:hover {
    color: lightgrey;
}

/* HEADQUARTER */

.headquarter {
    color: white;
    padding-right: 20px;

}

.headquarter h2 {
    padding-bottom: 15px;
}

.headquarter p {
    padding-bottom: 20px;
    color: grey;
}

.headq-icons {
    display: flex;
    flex-direction: row;
    color: #28a374;
    font-size: 20px;
    padding: 20px;
}

.headq-icons i {
    margin-right: 30px;
}

/* CONTACT INFO */

.contact-info {
    padding-right: 20px;
    margin-top: 25px;
    color: white;
}

.contact-info h2{
    padding-bottom: 20px;
}

.contact-info p{
    padding-bottom: 20px;
    line-height: 0.3em;
    color: grey;
}

/* QUICK LINKS */

.quick-links {
    padding-right: 20px;
    margin-top: 25px;
    color: white;
}

.quick-links h2 {
    padding-bottom: 15px;
}

.ql-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ql-tags a {
    margin-right: 7px;
    margin-bottom: 10px;
}

.ql-tags a:hover {
    color: lightgrey;
}

/* NEWSLETTER SIGNUP */

.newsletter {
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 20px;
    margin-top: 25px;
}

.newsletter p {
    margin-top: 15px;
}

.newsl-email {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border-bottom: 1px solid grey;
    
}

.newsl-submit {
    /* padding: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 23px;
    width: 150px;
    margin-top: 10px; */

    padding: 0 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 23px;
    width: auto;
    margin-top: 20px;
    line-height: 40px;
}

.newsl-submit:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.newsletter p {
    font-size: 12px;
    color: grey;
}


@media screen and (min-width:768px) {

header {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 15px;
    width: auto;
}

li {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
}

/* SLIDER */

.slider {
    margin-top: 0px;
}

/* TEXT PREKO SLIKE */

.slider-text{
    bottom: 100px;
}

/* OFFERS CONTAINER */

.top-offers {
    flex-direction: row;
    padding: 20px;
}

/* OFFERS PROZOR */

.offers-window {
    padding: 35px;
    margin-right: 10px;
    justify-content: flex-start;
}

/* HEADER U SIGNUPU */

.signup-header {
    font-size: 14px;
}

.signup-window {
    padding-right: 100px;
}

/* RAZMAK ZA PARAGRAF I H2 */

.signup-window p {
    line-height: 1.5em;   
}

.signup-window h2 {
    line-height: 1.3em;
}

/* SIGNUP FORMA */

.signup-form {
    border-radius: 50%;
    height: 40vw;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 25px;  
}

.signup-form-submit {
    padding: 0 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 23px;
    width: auto;
    margin-top: 20px;
    line-height: 40px;
}

/* TEACHERS CONTAINER */

.teachers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 60px;
}

/* TEXT U HEADERU */

.teachers-header {
    padding: 20px;
    margin: 0 0 15px 0;
    width: 100%;
}

/* TEACHER PROZOR */

.teacher {
    width: 50%;
    padding: 15px;
}

.teachers-header p {
    color: grey;
    line-height: 1.6em;
}

/* TEKST U PROZORU */

.teachers-text {
    text-align: left;
    background-color: white;
}

/* SOCIAL IKONICE */

.teachers-icons {
    border-top: 3px solid #f9f9f9;
    padding: 10px;
}

.teachers-icons a{
    font-size: 15px;
    line-height: 45px;
}


/* HEADER */

.courses-header {
    padding-top: 50px;
    margin-bottom: 40px;
}

/* SLIKA */

.courses-image {
    width: 90%;
}

/* DATUM I VREME */

.courses-input {
    bottom: 3%;
    left: 3%;
}

/* AVATAR CONTAINER */

.courses-avatar {
    justify-content: start;
}

/* PARAGRAF */

.courses-avatar p {
    margin-left: 20px;
}


/* FREE BUTTON */

.avatar-input {
    margin-left: auto;
}

/* STUDENT CONTAINER */

.avatar-text {
    margin-top: 10px;
}

.student-window-h {
    display: none;
}

/* CONTACT CONTAINER */

footer {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.headquarter {
    width: 50%;
}

.contact-info {
    margin-top: 0px;
}

.contact-quicklinks {
    width: 50%;
}

.newsletter {
    width: 100%;
}

.newsl-submit {
    width: 50%;
}

}

@media screen and (min-width:992px) {

    header {
        padding: 0 calc((100% - 1000px) / 2);
    }

    .logo {
        margin: 14px;
        margin-right: 50px
    }

    li {
        padding-right: 20px;
        padding-left: 20px;
    }

    .slider {
        margin-top: 0px;
    }

    .top-offers {
        margin-bottom: 100px;
        padding: 0 calc((100% - 900px) / 2);
    }

    .signup-container {
        flex-direction: row;
        justify-content: center;
        padding: 0 calc((100% - 900px) / 2);
    }

    .signup-form {
        height: 430px;
        width: 430px;
    }

    .signup-items {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }

    .signup-header {
        padding-top: 25px;
        padding-bottom: 15px;
        margin-top: 0px;
    }

    .signup-window {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 15px;
    }

    .teachers-container {
        padding: 0 calc((100% - 900px) / 2);
    }

    .teacher {
        width: 25%;
    }

    /* .teachers-icons {
        height: 0px;
    } */

    .teacher-icon i{
        color: black;
        font-size: 15px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }
    

    #courses-container-mobile{
        display: none;
    }
    #courses-container-desktop{
        display: flex;
    }

    .courses-header{
        width: 100%;
        display: inline-block;

    }

    .courses-container {
        padding: 0 calc((100% - 900px) / 2);
        flex-direction: row;
        flex-wrap: wrap;
    }


    .courses-container .one{
        width: calc(100% / 3);
    }

    .avatar-input {
        margin-left: 10px !important;
        padding: 0 20px;
    }

    .contact-container {
        flex-direction: row;
        align-items: center;
        padding: 0 calc((100% - 900px) / 2);
        padding-bottom: 20px;
    }

    .contact-text {
        padding-top: 15px;
    }

    .contact-form {
        width: 50%;
    }   
    
    .contact-form-input {
        width: 100%;
    }

    .contact-form-submit {
        width: 40%;
    }

    .contact-image {
        margin-left: 35px;
        padding-bottom: 0px;
        width: 50%;
    }

    footer {
        flex-wrap: nowrap;
    }

    .headquarter {
        width: 33.33%;
    }

    .contact-quicklinks {
        width: 33.33%;
    }

    .newsletter {
        width: 33.33%;
        margin-top: 0px;
    }
    
    .contact-container {
        flex-direction: row;
        align-items: center;
        padding: 0 calc((100% - 900px) / 2);
        padding-bottom: 20px;
    }

    .contact-text {
        padding-top: 15px;
    }

    .contact-form {
        width: 50%;
    }   
    
    .contact-form-input {
        width: 100%;
    }

    .contact-form-submit {
        width: 40%;
    }

    .contact-image {
        margin-left: 35px;
        padding-bottom: 0px;
        width: 50%;
    }

    footer {
        flex-wrap: nowrap;
    }

    .headquarter {
        width: 33.33%;
    }

    .contact-quicklinks {
        width: 33.33%;
    }

    .newsletter {
        width: 33.33%;
        margin-top: 0px;
    }
    
    .student-container {
        padding: 0 calc((100% - 900px) / 2);
    }

    .student-windows {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .student-window {
        width: 33.33%;
        margin-right: 10px;
        background-color: white;

    }

    .student-window-h {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        margin-right: 10px;
        background-color: white;
    }

    .student-paragraf {
        padding: 0 0 20px 20px;
        color: grey;
    }

    footer {
        padding: 0 calc((100% - 900px) / 2);
        padding-top: 15px;
    }

    a {
        text-decoration: none;
        color: grey;
        height: 100%;
    }
    .nav .menu a:hover {
        background-color: #29ca8e;
        color: white;
    }
    
    li:hover a {
        color: white;
    }

    

}